<html>
    <head>
        <title>Best Restaurants</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>{{ cuisine.getName }}</h1>

            {% if restaurants is not empty %}
                <p>Here are all the restaurants:</p>
                  {% for restaurant in restaurants %}
                      <ul>
                          <li>{{ restaurant.getName }}
                              <ul>
                                  <li>Description: {{ restaurant.getDescription }}</li>
                                  <li>Address: {{ restaurant.getAddress }}</li>
                              </ul>
                          </li>
                      </ul>
                  {% endfor %}
            {% endif %}

            <hr noshade size=4 width=100% align=left>

            <h1><small>Add a Restaurant</small></h1>
                <form action="/restaurants" method="post">
                    <div class='form-group'>
                        <input id="cuisine_id" type="hidden" name="cuisine_id" value="{{ cuisine.getId() }}">
                        <label for="name">Restaurant Name:</label>
                        <input id="name" type="text" name="name" class='form-control'>
                    </div>
                    <div class='form-group'>
                        <label for="description">Description:</label>
                        <input id="description" type="text" name="description" class='form-control'>
                    </div>
                    <div class='form-group'>
                        <label for="address">Address:</label>
                        <input id="address" type="text" name="address" class='form-control'>
                    </div>
                    <button type="submit" class="btn btn-danger">Add Restaurant</button>
                </form>

                <form action="/search">
                    <div class='form-group'>
                        <label for="search">Search for a Restaurant</label>
                        <input type="text" name="search" id="search" class='form-control'>
                    </div>
                    <button type="submit" class="btn btn-warning">Search</button>
                </form>
                <ul class="nav nav-pills">
                    <li role="presentation">
                    <form action="/cuisines/{{ cuisine.getId }}/edit">
                        <button type="submit" class="btn btn-default">Edit Cuisine Name</button>
                    </form>
                    </li>
                    <li role="presentation">
                    <form action="/">
                        <button type="submit" class="btn btn-default">Home</button>
                    </form>
                    </li>
                    <li role="presentation">
                    <form action="/delete_restaurants" method="post">
                        <button type="submit" class="btn btn-default">Clear Restaurants</button>
                    </form>
                    </li>
                </ul>
        </div>
    </body>
</html>
