<html>
    <head>
        <title>Best Restaurants</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>{{ restaurant.getName }} Food</h1>

            {% if reviews is not empty %}
                <h2><small>Here are all the reviews:</small></h2>
                  {% for review in reviews %}
                      <ul>
                          <li>Username: {{ review.getUsername }}
                              <ul>
                                  <li>Date: {{ review.getDate }}</li>
                                  <li>Rating: {{ view.getRating }} out of 5</li>
                                  <li>Review: {{ view.getComment }}</li>
                              </ul>
                          </li>
                      </ul>
                  {% endfor %}
            {% else %}
                <h2><small>There's no review yet. Add one now!</small></h2>
            {% endif %}

            <hr noshade size=4 width=100% align=left>

            <h1><small>Add a Review</small></h1>
            <form action="/reviews" method="post">
                <div class='form-group'>
                    <input id="restaurant_id" type="hidden" name="restaurant_id" value="{{ restaurant.getId() }}">
                    <label for="username">Your Name:</label>
                    <input id="username" type="text" name="username">
                </div>
                <div class='form-group'>
                    <label for="date">Date:</label>
                    <input id="date" type="date" name="date">
                </div>
                <div class='form-group'>
                    <label for="rating">Rating (1 to 5):</label>
                    <input id="rating" type="number" name="rating" max=5 min=1>
                </div>
                <div class='form-group'>
                    <label for="comment">Comment:</label>
                    <input id="comment" type="text" name="comment" class='form-control'>
                </div>
                <button type="submit" class="btn btn-danger">Add</button>
            </form>

            <form action="/">
                <button type="submit" class="btn btn-default">Home</button>
            </form>

        </div>
    </body>
</html>
